body {
    overflow: hidden;
}

a {
    text-decoration: none;
    color: hsl(357.91,80.72%,48.82%);
}

.app-container {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 900px) {
    body {
        background-color: black;
        overflow-y: scroll;
    }

    .app-container {
        min-height: 100vh;
    }
}


